{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Tolle Lege Login">
        <meta name="keywords" content="Latin">
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <link href="{% static "css/reader.css" %}" rel="stylesheet" type="text/css">
        <script src="{% static "js/reader.js" %}"></script>
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script>
        const csrftoken = Cookies.get('csrftoken');
        document.addEventListener('DOMContentLoaded', (event) => {
            // DOM Loaded
            {% block domready %}
            {% endblock domready %}
        })
    </script>
    </body>
</html>