{% extends "base.html" %}

{% block page_header %}
<div class="passage-source">
    <i>The Vulgate Bible</i> by God
</div>
<div class="passage-name">
    The Gospel According to Mark, Chapter 1
</div>
{% endblock %}

{% block page_content %}
<script>
    loadWordData('https://tollelege.s3.us-east-2.amazonaws.com/mark-1.json')
</script>
<span id="1" onclick="getWordData(this)">Initium</span>
<span id="2" onclick="getWordData(this)">Evangelii</span>
<span id="3" onclick="getWordData(this)">Jesu</span>
<span id="4" onclick="getWordData(this)">Christi</span>,
<span id="6" onclick="getWordData(this)">Filii</span>
<span id="7" onclick="getWordData(this)">Dei</span>.
<span id="9" onclick="getWordData(this)">Sicut</span>
<span id="10" onclick="getWordData(this)">scriptum</span>
<span id="11" onclick="getWordData(this)">est</span>
<span id="12" onclick="getWordData(this)">in</span>
<span id="13" onclick="getWordData(this)">Isaia</span>
<span id="14" onclick="getWordData(this)">propheta</span>:
<span id="16" onclick="getWordData(this)">Ecce</span>
<span id="17" onclick="getWordData(this)">ego</span>
<span id="18" onclick="getWordData(this)">mitto</span>
<span id="19" onclick="getWordData(this)">angelum</span>
<span id="20" onclick="getWordData(this)">meum</span>
<span id="21" onclick="getWordData(this)">ante</span>
<span id="22" onclick="getWordData(this)">faciem</span>
<span id="23" onclick="getWordData(this)">tuam</span>,
<span id="25" onclick="getWordData(this)">qui</span>
<span id="26" onclick="getWordData(this)">praeparabit</span>
<span id="27" onclick="getWordData(this)">viam</span>
<span id="28" onclick="getWordData(this)">tuam</span>
<span id="29" onclick="getWordData(this)">ante</span>
<span id="30" onclick="getWordData(this)">te</span>.
<span id="32" onclick="getWordData(this)">Vox</span>
<span id="33" onclick="getWordData(this)">clamantis</span>
<span id="34" onclick="getWordData(this)">in</span>
<span id="35" onclick="getWordData(this)">deserto</span>:
<span id="37" onclick="getWordData(this)">Parate</span>
<span id="38" onclick="getWordData(this)">viam</span>
<span id="39" onclick="getWordData(this)">Domini</span>,
<span id="41" onclick="getWordData(this)">rectas</span>
<span id="42" onclick="getWordData(this)">facite</span>
<span id="43" onclick="getWordData(this)">semitas</span>
<span id="44" onclick="getWordData(this)">ejus</span>.
<span id="46" onclick="getWordData(this)">Fuit</span>
<span id="47" onclick="getWordData(this)">Joannes</span>
<span id="48" onclick="getWordData(this)">in</span>
<span id="49" onclick="getWordData(this)">deserto</span>
<span id="50" onclick="getWordData(this)">baptizans</span>,
<span id="52" onclick="getWordData(this)">et</span>
<span id="53" onclick="getWordData(this)">praedicans</span>
<span id="54" onclick="getWordData(this)">baptismum</span>
<span id="55" onclick="getWordData(this)">poenitentiae</span>
<span id="56" onclick="getWordData(this)">in</span>
<span id="57" onclick="getWordData(this)">remissionem</span>
<span id="58" onclick="getWordData(this)">peccatorum</span>.
<span id="60" onclick="getWordData(this)">Et</span>
<span id="61" onclick="getWordData(this)">egrediebatur</span>
<span id="62" onclick="getWordData(this)">ad</span>
<span id="63" onclick="getWordData(this)">eum</span>
<span id="64" onclick="getWordData(this)">omnis</span>
<span id="65" onclick="getWordData(this)">Judaeae</span>
<span id="66" onclick="getWordData(this)">regio</span>,
<span id="68" onclick="getWordData(this)">et</span>
<span id="69" onclick="getWordData(this)">Jerosolymitae</span>
<span id="70" onclick="getWordData(this)">universi</span>,
<span id="72" onclick="getWordData(this)">et</span>
<span id="73" onclick="getWordData(this)">baptizabantur</span>
<span id="74" onclick="getWordData(this)">ab</span>
<span id="75" onclick="getWordData(this)">illo</span>
<span id="76" onclick="getWordData(this)">in</span>
<span id="77" onclick="getWordData(this)">Jordanis</span>
<span id="78" onclick="getWordData(this)">flumine</span>,
<span id="80" onclick="getWordData(this)">confitentes</span>
<span id="81" onclick="getWordData(this)">peccata</span>
<span id="82" onclick="getWordData(this)">sua</span>.
<span id="84" onclick="getWordData(this)">Et</span>
<span id="85" onclick="getWordData(this)">erat</span>
<span id="86" onclick="getWordData(this)">Joannes</span>
<span id="87" onclick="getWordData(this)">vestitus</span>
<span id="88" onclick="getWordData(this)">pilis</span>
<span id="89" onclick="getWordData(this)">cameli</span>,
<span id="91" onclick="getWordData(this)">et</span>
<span id="92" onclick="getWordData(this)">zona</span>
<span id="93" onclick="getWordData(this)">pellicea</span>
<span id="94" onclick="getWordData(this)">circa</span>
<span id="95" onclick="getWordData(this)">lumbos</span>
<span id="96" onclick="getWordData(this)">ejus</span>,
<span id="98" onclick="getWordData(this)">et</span>
<span id="99" onclick="getWordData(this)">locustas</span>
<span id="100" onclick="getWordData(this)">et</span>
<span id="101" onclick="getWordData(this)">mel</span>
<span id="102" onclick="getWordData(this)">silvestre</span>
<span id="103" onclick="getWordData(this)">edebat</span>.
<span id="105" onclick="getWordData(this)">Et</span>
<span id="106" onclick="getWordData(this)">praedicabat</span>
<span id="107" onclick="getWordData(this)">dicens</span>:
<span id="109" onclick="getWordData(this)">Venit</span>
<span id="110" onclick="getWordData(this)">fortior</span>
<span id="111" onclick="getWordData(this)">post</span>
<span id="112" onclick="getWordData(this)">me</span>,
<span id="114" onclick="getWordData(this)">cujus</span>
<span id="115" onclick="getWordData(this)">non</span>
<span id="116" onclick="getWordData(this)">sum</span>
<span id="117" onclick="getWordData(this)">dignus</span>
<span id="118" onclick="getWordData(this)">procumbens</span>
<span id="119" onclick="getWordData(this)">solvere</span>
<span id="120" onclick="getWordData(this)">corrigiam</span>
<span id="121" onclick="getWordData(this)">calceamentorum</span>
<span id="122" onclick="getWordData(this)">ejus</span>.
<span id="124" onclick="getWordData(this)">Ego</span>
<span id="125" onclick="getWordData(this)">baptizavi</span>
<span id="126" onclick="getWordData(this)">vos</span>
<span id="127" onclick="getWordData(this)">aqua</span>,
<span id="129" onclick="getWordData(this)">ille</span>
<span id="130" onclick="getWordData(this)">vero</span>
<span id="131" onclick="getWordData(this)">baptizabit</span>
<span id="132" onclick="getWordData(this)">vos</span>
<span id="133" onclick="getWordData(this)">Spiritu</span>
<span id="134" onclick="getWordData(this)">Sancto</span>.
<span id="136" onclick="getWordData(this)">Et</span>
<span id="137" onclick="getWordData(this)">factum</span>
<span id="138" onclick="getWordData(this)">est</span>:
<span id="140" onclick="getWordData(this)">in</span>
<span id="141" onclick="getWordData(this)">diebus</span>
<span id="142" onclick="getWordData(this)">illis</span>
<span id="143" onclick="getWordData(this)">venit</span>
<span id="144" onclick="getWordData(this)">Jesus</span>
<span id="145" onclick="getWordData(this)">a</span>
<span id="146" onclick="getWordData(this)">Nazareth</span>
<span id="147" onclick="getWordData(this)">Galilaeae</span>:
<span id="149" onclick="getWordData(this)">et</span>
<span id="150" onclick="getWordData(this)">baptizatus</span>
<span id="151" onclick="getWordData(this)">est</span>
<span id="152" onclick="getWordData(this)">a</span>
<span id="153" onclick="getWordData(this)">Joanne</span>
<span id="154" onclick="getWordData(this)">in</span>
<span id="155" onclick="getWordData(this)">Jordane</span>.
<span id="158" onclick="getWordData(this)">Et</span>
<span id="159" onclick="getWordData(this)">statim</span>
<span id="160" onclick="getWordData(this)">ascendens</span>
<span id="161" onclick="getWordData(this)">de</span>
<span id="162" onclick="getWordData(this)">aqua</span>
<span id="164" onclick="getWordData(this)">vidit</span>
<span id="165" onclick="getWordData(this)">caelos</span>
<span id="166" onclick="getWordData(this)">apertos</span>,
<span id="168" onclick="getWordData(this)">et</span>
<span id="169" onclick="getWordData(this)">Spiritum</span>
<span id="170" onclick="getWordData(this)">tamquam</span>
<span id="171" onclick="getWordData(this)">columbam</span>
<span id="172" onclick="getWordData(this)">descendentem</span>,
<span id="174" onclick="getWordData(this)">et</span>
<span id="175" onclick="getWordData(this)">manentem</span>
<span id="176" onclick="getWordData(this)">in</span>
<span id="177" onclick="getWordData(this)">ipso</span>.
{% endblock %}